:root {
	--background-color: rgb(0, 30, 60);
	--text-color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: rgb(0, 30, 60); 
		--text-color: #fff;
	}
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

header nav{
	position: relative;
}

header nav ul{
	display: flex;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	display: block;
	margin-left: 20px;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}

header nav ul li a.active, header nav ul li a:hover {
	color: #3498db;
	transform: scale(1.5); 
	transition: transform 0.3s ease-in-out; 

}
.logo {
	font-size: 2em;
	color: #333;
 }
